# 首次初始化用户语言时使用的默认语言
# 可选值：zh-CN / en-US
DEFAULT_LANGUAGE=zh-CN

# Upyun 配置
ENV_upyun_operator=your_operator
ENV_upyun_password=your_password
ENV_upyun_bucket=your_bucket
ENV_upyun_endpoint=v0.api.upyun.com

# 测试路径
ENV_upyun_test_path=/test
